
.footer{
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    position: relative;
}

.footer--title{
    margin: 10px;
}

.footer__social__icons{
    display: flex;
    margin-left: 10px;
}

.footer__social img{
    width: 40px;
    margin-left: 18px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.probando_footer{
    bottom: 0px;
}
