.model-content{
    display: block;
    width: 31%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 2%;
}

.wardrobe{
    display:flex;
    justify-content: flex-end;

}


body,
html {
  margin: 0;
  padding: 0;
  background: #25252B;
}
* {
  touch-action: manipulation;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

#c {
  position: absolute;
  top: 25%;
  width: 50%;
  height: 60%;
  display: block;
}

.model{
  position: absolute;
  display: flex;
  top: 86%;
}

@keyframes flip {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(180deg)  rotateX(180deg);
  }
}

.tutorial-link {
  position: absolute;
  display: block;
  z-index: 100;
  top: 2em; left: 2em;
  transform: translateX(-50%);
  font-weight: bold;
}