.viewer-content {
  width: 60%;
  height: 60%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.wardrobe-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-left: 40%; */
  margin-top: 5%;
  font-family: var(--font-family);
  font-size: 400%;
}

.colors .pantalones img,
.colors .camiseta img {
  width: 4%;
  /* background-color: rgb(80, 180, 85); */
}
.pantalones img:hover,
.camiseta img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 18px 9px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 0px 18px 9px rgba(189, 189, 189, 1);
  box-shadow: 0px 0px 18px 9px rgba(189, 189, 189, 1);
}
.colors {
  margin-top: 33%;
}

.wardrobe--line {
  border-bottom: 2px solid var(--ion-color-primary);
  width: 15%;
  /* height: 10px; */
}

.wardrobe__shop__container__camiseta, .wardrobe__shop__container__pantalon{
  display: flex;
  justify-content: flex-start;
}

.wardrobe__shop__container__camiseta p, .wardrobe__shop__container__pantalon p{
  margin:10px;
}