.viewer-content{
    width: 60%;
    height: 60%;
    border-width: 2px;
    border-style: solid;
    border-color: black;     
}

.wardrobe-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-left: 40%; */
    margin-top: 5%;
    font-family: var(--font-family);
    font-size: 400%;
}